<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.LoginMapper">
<select id="login" parameterType="string" resultType="Model.AuthInfoDTO">
	SELECT MEM_ID userId, MEM_PW userPw, MEM_EMAIL userEmail, 1 grade
	FROM MEMBER
	WHERE MEM_ID = #{userId} AND CKOK IS NOT NULL
	UNION
	SELECT EMP_USERID, EMP_PW, EMAIL, EMPLOYEE_ID
	FROM EMPLOYEES
	WHERE EMP_USERID = #{userId}
</select>
</mapper>